#ghost-showing {
  display: none;
    padding-top: 50px;
}

img {
  width: 30%;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

#ghost-quotes {
  display: none;
}

#orange {
  background-color: orange;
  font-weight: bold;
}

#default {
  font-weight: bold;
}

#ghost-hidden {
  padding-top: 50px;
}

.black-background {
  background-color: black;
  color: white;
}

.orange-background {
  background-color: orange;
}

.default-background {
  background-color: none;
}

.highlight-box {
  background-color: yellow;
}

.make-box {
  color: blue;
  border: 5px solid black;
}
